* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(24, 24, 24);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.flex {
    display: flex;
}
p {
    color: rgb(224, 223, 223);
}

/* nav */

.container {
    max-width: 1000px;
    /* border: 1px solid red; */
    margin: 10px auto;
}

nav {
    padding: 15px;
    color: white;
    /* width: 100%; */
    /* border: 1px solid red; */
    justify-content: space-around;
    align-items: center;

    gap: 20px;

    font-size: 1rem;

    border-radius: 8px;
    background-color: rgb(81, 96, 165);
}

.brand {
    font-size: 1.2em;
    font-weight: bold;
    /* border: 1px solid red; */
}

input {
    border: none;
    /* border: 1px solid red; */
    outline: none;

    font-size: 1.2em;
    padding: 0.45em 0.6em;
    border-radius: 5px;
    /* border: 1px solid red; */

    background-color: rgb(116, 135, 220);
    color: white;
    width: 100%;

    transition: 0.10s ease-in-out;
}

input:focus {
    transform: translateY(-2px);
}

input::placeholder {
    color: rgb(255, 255, 255);
}

.nav__center {
    /* border: 1px solid red; */
    flex: 1;
    max-width: 500px;
}

.nav__right {
    font-size: 1em;
}

/* -------- Box --------- */

.box-container {
    display: flex;
    gap: 8px;
}

.box {
    width: 50%;
    height: 600px;
    border-radius: 6px;
    /* border: 1px solid rgb(195, 182, 182); */
    background-color: rgb(40, 40, 40);
    /* background-color: rgb(225, 224, 224); */
    overflow: scroll;
}

/* -------------- Hide scrollbar --------------- */

.box {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}
.box::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

/* -------------------- Movie List ----------- */

.movie-list {
    display: flex;
    flex-direction: column;
    padding: 0px 0px;

    /* border: 1px solid red; */
}

.loading,
.error {
    color: white;
    font-size: 1.3rem;
    margin-top: 30px;

    text-align: center;
}

.movie {
    display: flex;
    gap: 25px;
    align-items: center;
    color: white;
    /* border: 1px solid red; */

    border-bottom: 0.5px solid rgb(67, 67, 67);
    padding: 15px 15px;
    cursor: pointer;
}

.movie:hover {
    background-color: rgb(28, 28, 28);
}

.movie.selected {
    background-color: rgb(28, 28, 28);
}

.movie-list .title {
    font-size: 1rem;
    font-weight: 600;
}

.movie__image {
    width: 40px;
    height: 60px;
    background-color: rgb(25, 25, 25);
}

.movie__detail {
    display: flex;
    flex-direction: column;

    gap: 5px;
}

/* ---------------- Movie Details -------------- */

.movie-details {
}

.movie-detail__head {
    background-color: rgb(57, 57, 57);
    min-height: 200px;

    max-height: fit-content;
    /* width: 150px; */
    display: flex;
    /* border: 1px solid red; */
    position: relative;
}
.close {
    width: 30px;
    background-color: rgba(32, 32, 32, 0.886);
    color: white;
    padding: 5px;
    border-radius: 20%;
    transition: 0.15s ease-in-out;
    cursor: pointer;
}

.movie-detail__head .close {
    position: absolute;
    top: -1px;
    left: -1px;
}
.movie-detail__head .close:hover {
    background-color: rgb(32, 32, 32);
}

.movie-detail__image {
    width: 50%;
    max-width: 150px;
    height: 100%;
    /* width: 100%; */
}

.movie-detail__right {
    color: white;
    flex-direction: column;
    /* justify-content: center; */
    padding: 15px;
    gap: 10px;
}

.movie-detail__right span {
    font-size: 0.8rem;
    color: rgb(231, 231, 231);
}

/* ----------- section ---------------- */

section {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 30px;
    gap: 20px;

    padding-inline: 50px;
}

.star-cont {
    background-color: rgb(57, 57, 57);
    width: fit-content;
    /* border: 1px solid red; */
    padding-top: 5px;
    padding-inline: 30px;
    padding-bottom: 5px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-btn {
    border: none;
    outline: none;

    font-size: 1.1rem;
    padding: 0.25em 0.75em;
    margin-bottom: 8px;

    border-radius: 8px;

    color: rgb(228, 228, 228);
    background-color: rgb(81, 96, 165);

    transition: 0.15s ease-in-out;
    cursor: pointer;
}

.add-btn:hover {
    opacity: 0.6;
}

.movie_about {
    display: flex;
    flex-direction: column;

    gap: 20px;
    align-items: cen;
    color: rgb(223, 223, 223);
    font-size: 0.8rem;
}

.plot {
    font-style: italic;
}

/* ------------ watched movies ---------- */

.watched-summary {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 18px;
    box-shadow: 0 3px 13px rgba(0, 0, 0, 0.612);

    border-radius: 10px;
}

.stats {
    display: flex;
    gap: 20px;
}
.watched-movie-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;

    border-bottom: 0.5px solid rgb(67, 67, 67);
}

.watched-movie {
    pointer-events: none;
    border: none;
}

.movie-close:hover {
    background-color: black;
}

/* ------------- footer --------- */

.footer {
    padding: 2px;
}
a {
    color: rgb(189, 189, 189) !important;
    transition: 0.15s ease-in-out;
}

a:hover {
    color: white !important;
}

/* --------------------- Responsive -------------------- */

/* @media screen and (540px <= width <= 676px) {
    .movie-detail__head {
        flex-direction: column;
    }
    .movie-detail__image {
        height: 180px;
        width: 100%;
        max-width: none;

        object-fit: cover;
        object-position: bottom;
    }
} */

@media screen and (max-width: 1000px) {
    .box:nth-of-type(1) {
        margin-left: 8px;
    }
    .box:nth-of-type(2) {
        margin-right: 8px;
    }

    nav {
        margin-inline: 8px !important;
    }
}

@media screen and (max-width: 600px) {
    .container {
        margin: 0;
    }
    .box-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .box {
        width: 95%;
        margin-inline: 0px !important;
    }

    .box:nth-of-type(2) {
        margin-bottom: 8px;
    }
    nav {
        /* border: 1px solid red; */
        font-size: 0.75rem;
        margin-block: 12px !important;
    }
    section {
        padding-inline: 30px;
    }
    .star-cont {
        padding-inline: 15px;
        padding-top: 10px;
        padding-bottom: 8px;
        gap: 10px;
    }
    .box {
        height: 500px;
    }
    .movie__detail .stats {
        /* gap: 13px; */
    }
    .watched-movie {
        gap: 16px;
    }
}
