* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(24, 24, 24);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.flex {
    display: flex;
}

/* nav */

.container {
    max-width: 1000px;
    /* border: 1px solid red; */
    margin: 10px auto;
}

nav {
    padding: 15px;
    color: white;
    /* width: 100%; */
    /* border: 1px solid red; */
    justify-content: space-around;
    align-items: center;

    gap: 20px;

    font-size: 1rem;

    border-radius: 8px;
    background-color: rgb(81, 96, 165);
}

.brand {
    font-size: 1.2em;
    font-weight: bold;
    /* border: 1px solid red; */
}

input {
    border: none;
    /* border: 1px solid red; */
    outline: none;

    font-size: 1.2em;
    padding: 0.45em 0.6em;
    border-radius: 5px;
    /* border: 1px solid red; */

    background-color: rgb(116, 135, 220);
    color: white;
    width: 100%;
}

input::placeholder {
    color: rgb(255, 255, 255);
}

.nav__center {
    /* border: 1px solid red; */
    flex: 1;
    max-width: 500px;
}

.nav__right {
    font-size: 1em;
}

/* -------- Box --------- */

.box-container {
    display: flex;
    gap: 10px;
}

.box {
    width: 50%;
    height: 500px;
    border-radius: 6px;
    /* border: 1px solid rgb(195, 182, 182); */
    background-color: rgb(40, 40, 40);
    overflow: scroll;

}

/* -------------- Hide scrollbar --------------- */

.box {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.box::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

/* -------------------- Movie List ----------- */

.movie-list {
    display: flex;
    flex-direction: column;
    padding: 0px 0px;

    /* border: 1px solid red; */
}

.loading,
.error {
    color: white;
    font-size: 1.3rem;
    margin-top: 30px;

    text-align: center;
}

.movie {
    display: flex;
    gap: 25px;
    align-items: center;
    color: white;
    /* border: 1px solid red; */

    border-bottom: 0.5px solid rgb(67, 67, 67);
    padding: 15px 15px;
    cursor: pointer;
}

.movie:hover {
    background-color: rgb(33, 33, 33);
}

.movie-list .title {
    font-size: 1.1rem;
    font-weight: 600;
}

.movie__image {
    width: 40px;
    height: 60px;
    background-color: rgb(25, 25, 25);
}

.movie__detail {
    display: flex;
    flex-direction: column;

    gap: 5px;
}


/* ---------------- Movie Details -------------- */

.movie-details {
    
}

.movie-detail__head {
    background-color: rgb(57, 57, 57);
    min-height: 200px;

    max-height: fit-content;
    /* width: 150px; */
    display: flex;
    /* border: 1px solid red; */
}
 
.movie-detail__image {
    width: 50%;
    max-width: 150px;
    height: 100%;
    /* width: 100%; */
}

.movie-detail__right {
    color: white;
    flex-direction: column;
    /* justify-content: center; */
    padding: 15px;
    gap: 10px;
}

.movie-detail__right span {
    font-size: 0.8rem;
    color: rgb(231, 231, 231);
}


/* --------------------- Responsive -------------------- */

@media screen and (540px <= width <= 676px) {
    .movie-detail__head {
        flex-direction: column;
    }
    .movie-detail__image {
        height: 180px;
        width: 100%;
        max-width: none;

        object-fit: cover;
        object-position: bottom;
    }
}

@media screen and (max-width: 1000px) {
    .box:nth-of-type(1) {
        margin-left: 8px;
    }
    .box:nth-of-type(2) {
        margin-right: 8px;
    }

    nav {
        margin-inline: 8px !important;
    }
}

@media screen and (max-width: 540px) {
    .container {
        margin: 0;
    }
    .box-container {
        flex-direction: column;
        align-items: center;
    }
    .box {
        width: 95%;
        margin-inline: 0px !important;
    }

    .box:nth-of-type(2) {
        margin-bottom: 8px;
    }
    nav {
        /* border: 1px solid red; */
        font-size: 0.75rem;
        margin-block: 12px !important;
    }
}